.gradient{
  background-image: linear-gradient(-226deg, #FFFFFF 8%, #EEF3F5 100%);
}

ul {
  list-style-type: none
}


.strikethrough:checked + span{
  text-decoration:line-through
}

img {
  height: 200px;
  width: 200px;
}
